/************ Generall ************/
*{
    margin: 0;
    padding: 0;
    font-family: "Red Hat Text", sans-serif;
}

img{
    width:100%
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

::selection{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

a{
    font: inherit;
    color: inherit;
    text-underline-offset: 3px;
    text-decoration-skip-ink: auto;
    font-weight: 400;

    &:hover{
        text-decoration: underline;
    }
}

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

h1{
    font-family: "Red Hat Display", "Red Hat Text", sans-serif;
    font-size: 4.6875rem;
    font-style: normal;
    font-weight: 400;
}

header{
    width: 100%;
    height: 100dvh;
    display: grid;
    place-content: center;
    overflow: hidden;
    position: relative;
}

header .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    @media screen and (max-width: 800px){
        margin-top: -1rem;
    }

    .image-container{
        display: grid;

        img{
            height: 50vh;
            grid-area: 1/1/2/2;
            z-index: 5;
            object-fit: contain;
        }

        .dotgrid{
            background-image: radial-gradient(#999 8%, transparent 0);
            background-size: 30px 30px;
            width: 100%;
            height: 100%;
            grid-area: 1/1/2/2;
            translate: -1rem 1.5rem;
        }

        @media screen and (max-width: 800px){
            img{
                height: 38vh;
            }
        }
    }

    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            max-width: min(55ch, 90vw);
            font-size: 1.1rem;
            line-height: 140%; /* 1.4rem */
            font-weight: 400;
        }

        div.links{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 1rem;

            i{
                margin-right: .1rem;
                transition: color .2s;
            }

            a{
                text-decoration: none;
                border-bottom: 1px solid white;
                transition: color .2s, text-shadow .2s;

                &:hover {
                    border-bottom: 2px solid white;
                    margin-bottom: -1px;
                    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.2), -3px -3px 3px rgba(255, 255, 255, 0.2), 3px -3px 3px rgba(255, 255, 255, 0.2), -3px 3px 3px rgba(255, 255, 255, 0.2);

                    /*i{
                        color: var(--hov-col)
                    }*/
                }
            }
        }

        @media screen and (max-width: 800px){
            p{
                font-size: 1rem;
            }

            h1{
                font-size: 3.5rem;
            }

            div.links span{
                display: none;
            }

            div.links a{
                font-size: 1.2rem;
            }

            div.links a:has(i) {
                border: none;
            }
        }

        .blob1{
            width: 19rem;
            height: 19rem;
            position: absolute;
            border-radius: 50%;
            background: linear-gradient(180deg, rgba(125, 180, 124, 0.35) 0%, rgba(210, 254, 243, 0.35) 100%);
            filter: blur(75px);
            pointer-events: none;

            translate: -50%;
        }

        .blob2{
            width: 12rem;
            height: 15rem;
            position: absolute;

            border-radius: 50%;
            transform: rotate(-19.86deg);
            background: linear-gradient(180deg, rgba(100, 158, 244, 0.25) 0%, rgba(163, 230, 245, 0.25) 100%);
            filter: blur(75px);
            pointer-events: none;

            translate: 100% 50%;
        }
    }
}

header h2{
    position: absolute;
    bottom: 0;
    left: 15%;
    font-size: 8rem;
    font-weight: 400;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
    color: transparent;
    margin-bottom: -4rem;

    @media screen and (max-width: 800px){
        font-size: 5rem;
        margin-bottom: -2.5rem;
        left: 5%;
    }
}

div.mouseblob{
    width: 19rem;
    height: 15rem;
    background: linear-gradient(180deg, rgb(235, 228, 157) 0%, rgb(241, 155, 53) 100%);
    filter: blur(75px);
    animation: mouseblob 15s infinite;
    position: absolute;
    pointer-events: none;
    translate: -50% -50%;
    transition: top 100ms, left 100ms;
    opacity: 15%;

    @media (pointer:coarse) {
        display: none;
        top: 0;
        left: 0;
    }
}

@keyframes mouseblob {
    from{
        rotate: 0deg;
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    to{
        rotate: 360deg;
        scale: 1;
    }
}

main{
    display: flex;
    gap: 1rem;
    padding: {
        left: 15%;
        right: 15%;
        top: 2rem;
        bottom: 15rem;
    }
    flex-direction: column;
    background-color: hsl(0, 0, 7%);

    @media screen and (max-width: 800px){
        padding-inline: 4vw;
        padding-bottom: 5rem;
    }
}

main .project{
    border-radius: 1rem;
    overflow: hidden;
    max-height: 9rem;
    transition: max-height 500ms, outline-color 200ms, box-shadow 200ms, filter 100ms;
    position: relative;
    padding: 3px;
    box-sizing: border-box;
    outline: 1px solid transparent;

    --color-a: gray;
    --color-b: #595858;
    --color-a-contrast: white;
    --color-b-contrast: white;
    --color-mix: gray;
    --color-mix-bright: white;

    background: linear-gradient(90deg, var(--color-a) 0%, var(--color-b) 100%);
    cursor: pointer;

    box-shadow: 0 0 .5rem .5rem var(--color-mix);

    &.open{
        max-height: 100vh;

        .text-container p, .text-container a{
            opacity: 1;
        }

        .text-container{
            clip-path: polygon(0 1.5rem, 100% 0, 100% 100%, 0% 100%);
            margin-top: -1rem;
        }

        .fa-angles-right{
            rotate: 90deg;
        }
    }

    @media screen and (max-width: 800px){
        max-height: 8rem;

        .header{
            height: 8rem !important;
        }
    }

    @media not (pointer:coarse) {
        &:not(.open):hover {
            outline: 2px solid #d2d2d2;

            .fa-angles-right {
                color: white;
                filter: brightness(100%);
            }

            box-shadow: 0 0 .5rem .5rem var(--color-mix-bright);
        }
    }

    &:first-of-type .header .number{
        letter-spacing: 0.7rem;
    }

    .background{
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    .header{
        height: 9rem;
        display: flex;
        gap: 2rem;
        align-items: center;
        color: black;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
        cursor: pointer;

        h3{
            font-size: 4rem;
            font-weight: 400;
            line-height: 90%;
        }

        .number{
            font-size: 6rem;
            width: 10rem;
            text-align: right;
            color: var(--color-a-contrast);
            /*color: black;
            mix-blend-mode: overlay;*/
        }

        .type{
            font-size: 1.25rem;
            font-weight: 300;
            margin-left: .3rem;
        }

        .fa-angles-right{
            margin-right: 3rem;
            margin-left: auto;
            font-size: 2rem;
            color: var(--color-b-contrast);
            filter: contrast(50%) brightness(120%);
            transition: rotate 300ms, filter 300ms, color 300ms;
        }


        @media screen and (max-width: 800px){
            gap: .5rem;
            padding-left: .5rem;

            .number{
                font-size: 1.5rem;
                width: fit-content;
                position: absolute;
                top: .5rem;
                letter-spacing: initial !important;

                display: none;
            }

            h3{
                font-size: 2.5rem;
            }

            .type{
                font-size: 1rem;
            }

            .fa-angles-right{
                margin-right: 1rem;
                font-size: 1.5rem;
            }
        }
    }

    .text-container{
        background-color: hsl(0, 0, 7%);
        position: relative;
        z-index: 5;
        border-radius: 0 0 13px 13px;
        padding: {
            left: 12rem;
            right: 2rem;
            top: 2rem;
            bottom: 1rem;
        }
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: clip-path 300ms ease-out, margin 300ms ease-out;
        cursor: initial;

        p{
            opacity: 0;
            transition: opacity 500ms;
            max-width: 70ch;

            font-size: 1.05rem;
            font-weight: 300;
            line-height: 150%;
        }

        a{
            font-weight: 500;
            display: block;
            padding: .3rem .5rem;
            margin:{
                top: .5rem;
                left: -.5rem;
            }
            opacity: 0;
            transition: opacity 500ms, color .2s, background-color .2s;
            width: fit-content;
            position: relative;

            &:before{
                content: "";
                background-color: var(--color-a);
                position: absolute;
                inset: 0;
                scale: 0;
                opacity: 0;
                z-index: -1;
                border-radius: .3rem;
                transition: scale .2s ease-in-out, opacity .2s ease-in-out;
                filter: brightness(90%);
            }

            &:hover::before {
                scale: 1;
                opacity: 1;
            }
        }

        @media screen and (max-width: 800px){
            padding-inline: 1rem;
        }
    }
}

#copyinfo{
    color: hsl(0, 0%, 90%);
    background-color: black;
    border-radius: .5rem;
    padding: .5rem;
    position: absolute;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    translate: -50% 0;
    top: 60%;
    left: 60%;

    @media screen and (max-width: 800px){
        font-size: 1.2rem;
    }
}